/* .themify_builder_47_row.module_row_0 Style */
.themify_builder_47_row.module_row_0.module_row {
	margin-bottom : 100px
}

.themify_builder .box-47-0-0-2.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; border-top-color: #212121; border-top-width: 1px; border-top-style: solid; border-right-color: #212121; border-right-width: 1px; border-right-style: solid; border-bottom-color: #212121; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #212121; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .box-47-0-0-2.module-box h1 { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box h2 { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box h3:not(.module-title) { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box h4 { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box h5 { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box h6 { color: #000000;  } 
.themify_builder .box-47-0-0-2.module-box { font-size: 16px; text-align: left; margin-top: 0px; margin-right: 0px; margin-bottom: 30px; margin-left: 0px;  } 
.themify_builder .text-47-0-1-1.module-text { column-count: 1;  } 
.themify_builder .plain-text-47-0-1-2.module-plain-text { margin-top: 30px;  } 
.themify_builder .box-47-1-0-1.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; border-top-color: #212121; border-top-width: 1px; border-top-style: solid; border-right-color: #212121; border-right-width: 1px; border-right-style: solid; border-bottom-color: #212121; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #212121; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .box-47-1-0-1.module-box { font-size: 16px; text-align: left; margin-top: 0px; margin-right: 0px; margin-bottom: 30px; margin-left: 0px;  } 
.themify_builder .box-47-1-0-1.module-box h1 { color: #000000;  } 
.themify_builder .box-47-1-0-1.module-box h2 { color: #000000;  } 
.themify_builder .box-47-1-0-1.module-box h3:not(.module-title) { color: #000000;  } 
.themify_builder .box-47-1-0-1.module-box h4 { color: #000000;  } 
.themify_builder .box-47-1-0-1.module-box h5 { color: #000000;  } 
.themify_builder .box-47-1-0-1.module-box h6 { color: #000000;  } 
