/* .module_row_0 .module_column_0 .sub_row_0-0-2 Style */
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow {
	margin-top : 30px
}

/* .sub_column_post_642.sub_column_0-0-2-0 Style */
.sub_column_post_642.sub_column_0-0-2-0.sub_column {
	margin-top : 30px
}

.themify_builder .buttons-642-sub_row_0-0-2-0-0 div.module-buttons { text-align: center;  } 
/* .sub_column_post_642.sub_column_0-0-2-1 Style */
.sub_column_post_642.sub_column_0-0-2-1.sub_column {
	margin-top : 30px
}

.themify_builder .buttons-642-sub_row_0-0-2-1-0 div.module-buttons { text-align: center;  } 
/* .themify_builder_642_row.module_row_1 Style */
.themify_builder_642_row.module_row_1.module_row {
	margin-top : 50px
}

/* .module_row_1 .module_column_0.tb_642_column Style */
.module_row_1 .module_column_0.tb_642_column.module_column {
	text-align: left
}

.themify_builder .plain-text-642-1-0-1.module-plain-text { margin-bottom: 30px;  } 
.themify_builder .plain-text-642-1-0-2.module-plain-text { margin-bottom: 30px;  } 
.themify_builder .plain-text-642-1-0-3.module-plain-text { margin-bottom: 30px;  } 
.themify_builder .plain-text-642-1-0-4.module-plain-text { margin-bottom: 30px;  } 
/* .themify_builder_642_row.module_row_2 Style */
.themify_builder_642_row.module_row_2.module_row {
	margin-bottom : 100px
}

.themify_builder .box-642-2-0-2.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px; border-top-color: #212121; border-top-width: 1px; border-top-style: solid; border-right-color: #212121; border-right-width: 1px; border-right-style: solid; border-bottom-color: #212121; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #212121; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .box-642-2-0-2.module-box h1 { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box h2 { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box h3:not(.module-title) { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box h4 { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box h5 { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box h6 { color: #000000;  } 
.themify_builder .box-642-2-0-2.module-box { font-size: 16px; text-align: left; margin-top: 0px; margin-right: 0px; margin-bottom: 30px; margin-left: 0px;  } 
.themify_builder .text-642-2-1-1.module-text { column-count: 1;  } 
.themify_builder .plain-text-642-2-1-2.module-plain-text { margin-top: 30px;  } 
