/* .themify_builder_61_row.module_row_0 Style */
.themify_builder_61_row.module_row_0.module_row {
	margin-top : 50px
}

/* .module_row_0 .module_column_0.tb_61_column Style */
.module_row_0 .module_column_0.tb_61_column.module_column {
	text-align: left
}

.themify_builder .box-61-0-0-1.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border-top-color: #999999; border-top-width: 1px; border-top-style: solid; border-right-color: #999999; border-right-width: 1px; border-right-style: solid; border-bottom-color: #999999; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #999999; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .box-61-0-0-1.module-box h1 { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box h2 { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box h3:not(.module-title) { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box h4 { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box h5 { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box h6 { color: #000000;  } 
.themify_builder .box-61-0-0-1.module-box { margin-bottom: 25px;  } 
.themify_builder .box-61-0-0-2.module-box .module-box-content { background-color: #ffffff; color: #000000; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border-top-color: #999999; border-top-width: 1px; border-top-style: solid; border-right-color: #999999; border-right-width: 1px; border-right-style: solid; border-bottom-color: #999999; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #999999; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .box-61-0-0-2.module-box { margin-bottom: 25px;  } 
.themify_builder .box-61-0-0-2.module-box h1 { color: #000000;  } 
.themify_builder .box-61-0-0-2.module-box h2 { color: #000000;  } 
.themify_builder .box-61-0-0-2.module-box h3:not(.module-title) { color: #000000;  } 
.themify_builder .box-61-0-0-2.module-box h4 { color: #000000;  } 
.themify_builder .box-61-0-0-2.module-box h5 { color: #000000;  } 
.themify_builder .box-61-0-0-2.module-box h6 { color: #000000;  } 
.themify_builder .plain-text-61-0-1-1.module-plain-text { margin-bottom: 30px;  } 
.themify_builder .plain-text-61-0-1-2.module-plain-text { margin-bottom: 30px;  } 
/* .themify_builder_61_row.module_row_1 Style */
.themify_builder_61_row.module_row_1.module_row {
	text-align: right
}

.themify_builder .icon-61-1-5-1 div.module-icon .module-icon-item i { background-color: #000000;  } 
.themify_builder .icon-61-1-5-1 div.module-icon .module-icon-item:hover i { background-color: #666666;  } 
